section.twitter#twitter
  .flex.flex--space-around

    .col-1   <a class="twitter-timeline" href="https://twitter.com/stevemeadowsdev" data-tweet-limit="2" >Tweets by stevemeadowsdev</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

    .col-1.description.order-first
      .desc-wrap
        p.home-lead.outdented ...Speaking to you through tweets...
        a(href="https://twitter.com/stevemeadowsdev").home-cta Check out Twitter

    
