section.youtube#youtube
  .flex.flex--space-around
    .col-1
      .video-strip
      .flex-video <iframe src="https://www.youtube.com/embed/tGzN7mUTXX4?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

    .col-1.order-first
      p.home-lead.outdented ...watch my streaming buddy on YouTube...
      a(href="https://www.youtube.com/user/richx").home-cta Watch on YouTube
