---
layout: default
title: stevemeadows.co.uk
---
<div class="home-wrap">

  {% include header.html %}

  <div class="home-sections">

    {% include section-about.html %}
    {% include section-youtube.html %}
    {%  comment %}{% include section-mentoring.html %}{% endcomment %}
    {% include section-articles.html %}
    {%  comment %}{% include section-vine.html %}{% endcomment %}
    {% include section-twitter.html %}
    {% include section-design.html %}
    {% include section-notes.html %}
    {%  comment %}{% include section-podcast.html %}{% endcomment %}
    {% include section-footer.html %}

  </div>


</div>
